.detalle-item {
  padding: 2rem;
  background-color: #fff;
  color: #333;
}

.detalle-item img {
  max-width: 100%;
  height: auto;
}

.detalle-item h2 {
  color: #8a2be2;
}

.detalle-item p {
  margin: 1rem 0;
}