body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #daa0e1;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #ff69b4;
}

.navbar {
  background-color: #8a2be2;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #ff69b4;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background-color: #f8f8f8; /* Blanco */
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(33.333% - 2rem);
  margin-bottom: 2rem;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h3 {
  background-color: #ff69b4;
  color: #fff;
  margin: 0;
  padding: 1rem;
}

.product-card p {
  margin: 1rem;
}

.product-card a {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #8a2be2;
  color: #fff;
  border-radius: 5px;
}

.product-card a:hover {
  background-color: #333;
}

.detalle-item {
  padding: 2rem;
  background-color: #fff;
  color: #333;
}

.detalle-item img {
  max-width: 100%;
  height: auto;
}

.detalle-item h2 {
  color: #8a2be2;
}

.detalle-item p {
  margin: 1rem 0;
}